
.content {
  margin: 100px 0;
  position: relative;
}
.txt_main {
  width: 100%;
  font-size: 18px;
  color: #3b4b4d;
  margin: 100px 150px;
}



.tour_inner {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.tour_1 {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden; /*画像が画面からはみ出ないように処理*/
  background: url("../img/九份.png") no-repeat center;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 20px #ddd;
  box-shadow: 10px 10px 20px #ddd;
}

.tour_1 .tour_inner {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tour_title {
  font-size: 70px;
  font-weight: 500;
  color: #fff;
}
.tour_subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.tour_inner .cost {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
.tour_1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /*Ｚ軸方向に重なっていく（レイヤー1）*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.plan_list {
  padding: 100px;
}

.plan_list li {
  display: flex;
  margin-bottom: 50px;
  background-color: #e5e2ca;
  padding: 20px;
  border-radius: 10px;
}

.plan_content {
  margin-right: 60px;
}

.plan_content img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.plan_content p {
  margin-top: 8px;
  text-align: center;
  color: #000;
}
.plan_txt {
  width: 80%;
  padding-top: 10px;
  line-height: 2.5;
  color: #000;
}
.btn {
  width: 40%;
  margin: 0 auto 200px auto;
  text-align: center;
  padding-top: 80px;
}
.btn a {
  text-align: center;
  position: relative;
  background: #078c0c;
  padding: 20px 60px;
  color: #fff;
  font-weight: bold;
}

.tour_2 {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden; /*画像が画面からはみ出ないように処理*/
  background: url("../img/士林夜市.png") no-repeat center;
  background-size: cover;

  -webkit-box-shadow: 10px 10px 20px #ddd;
  box-shadow: 10px 10px 20px #ddd;
}
.tour_2 .tour_inner {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tour_2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; /*Ｚ軸方向に重なっていく（レイヤー1）*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.tour_1:hover {
  -webkit-box-shadow: 10px 10px 20px #ddd;
  box-shadow: 10px 10px 20px #ddd;
}
.tour_2:hover {
  -webkit-box-shadow: 10px 10px 20px #ddd;
  box-shadow: 10px 10px 20px #ddd;
}






@media screen and (max-width: 768px) {
.tour_title {
  width: 500px;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
.tour_subtitle {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}
.plan_list {
  padding: 70px 50px;
}
.plan_content img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
}
}